.new-review {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.new-review__label {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 8px;
}

.new-review__rating {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.rating__criterias {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.rating__score {
    position: absolute;
    margin-left: 37px;
    margin-top: -15px;
    font-size: 44px;

}

.new-review__form {
    display: flex;
    flex-direction: column;
    gap: 27px;
}