@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
	ViewData[ "Title" ] = "Input data";
}


<h1 class="display-4">Calculator</h1>
<form method="post" asp-antiforgery="true">
	<p class="text-danger">@Model.Message</p>

	<div class="form-inputs">
		<div class="form-group">
			<label for="firstNumber" asp-for="Calculator!.FirstNumber">First Number</label>
			<input type="number" class="form-control" id="firstNumber" aria-describedby="firstNumber" placeholder="Enter first value" asp-for="Calculator!.FirstNumber" />
		</div>

		<div class="form-group">
			<label asp-for="Calculator!.Operation">Operation</label>
			<select class="form-select" aria-label="Operaion" asp-for="Calculator!.Operation">
				<option value="+" selected>+</option>
				<option value="-">-</option>
			</select>
		</div>

		<div class="form-group">
			<label for="secondNumber" asp-for="Calculator!.SecondNumber">Second Number</label>
			<input type="number" class="form-control" id="secondNumber" aria-describedby="secondNumber" placeholder="Enter second value" asp-for="Calculator!.SecondNumber" />
		</div>

		<button type="submit" class="btn btn-primary">Calculate</button>
	</div>
</form>