.reviews-block {
  display: flex;
  width: 1431px;
  border-top: 2px solid #DCDCDC;
  justify-content: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 39px;
  width: 1095px;
  gap: 39px;
  height: calc(97vh - 715px);
  overflow-y: auto;
}